@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Ubuntu:400,700);

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body {
	background-color: #2c2c2c;
	color: #666;
	font-family: Ubuntu, sans-serif;
	font-size: 14px;
	font-weight: 400; 
}

img {
	max-width: 100%;
}

p {
	line-height: 24px;
}

h1, h2, h3 {
	font-family: 'Bree Serif', sans-serif;
	font-weight: 400;	
	color: #fff;
}

h1 {
	font-size: 64px;
	line-height: 64px;
	padding: 80px 0 0 0;
}

h1 + p {
	padding: 21px 27% 30px 0;
}

h2 {
	font-size: 60px;
	line-height: 60px;
	text-transform: uppercase;
}

h2 + p {
	padding: 7px 25% 47px;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: #3a494c;
}

h3 + p {
	padding: 16px 0 0;
}

a {
	cursor: pointer;
	color: #3a494c;
	text-decoration: none;
}

.first_color {
	color: #fff;
}

.second_color {
	color: #3a494c;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.flt_lft {
	float: left;
}

.trans {
	-webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.button {
	font-family: 'Bree Serif', sans-serif;
	font-size: 20px;
	color: #3a494c;
	text-transform: uppercase;
	background-color: #fff;
	border: none;
	border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 10px 16px;	
	display: inline-block;
}

.button:hover {
	color: #fff;
	background-color: #3a494c;
}

@media (max-width: 479px) {
	h1 {
		font-size: 40px;
		line-height: 44px;
		padding-top: 50px;
	}

	h2 {
		font-size: 36px;
		line-height: 40px;
	}
}

/* ============================ margins, paddings ============================ */

.pdng_tp {
	padding-top: 70px;
}

.pdng_tp2 {
	padding-top: 57px;
}

.pdng_btm {
	padding-bottom: 107px;
}

.pdng_btm2 {
	padding-bottom: 110px;
}

.mrgn_tp {
	margin-top: 40px;
}

.row + .row {
	margin-top: 27px;
}

@media (max-width: 479px) {
	.pdng_tp {
		padding-top: 40px;
	}

	.pdng_tp2 {
		padding-top: 40px;
	}

	.pdng_btm {
		padding-bottom: 47px;
	}

	.pdng_btm2 {
		padding-bottom: 40px;
	}

	.mrgn_tp {
		margin-top: 40px;
	}

	.row + .row {
		margin-top: 17px;
	}
}

/* ============================ end margins, paddings ============================ */



/* ============================ HEADER ============================ */

header {
	background-color: #fff;
	padding: 50px 0 49px;
}

.logo {
	font-family: 'Bree Serif', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 50px;
	letter-spacing: 0.01ex;
	float: left;
}

.logo_size {
	font-size: 55px;
}

nav {
	float: right;
}

nav ul {
	margin-right: -13px;
	position: relative;
}

nav ul ol {
	display: none;
	list-style-type: none;
	position: absolute;
	z-index: 15;
	top: 60px;
	background-color: #fff;
	padding: 0 3px 20px;
	border: 1px solid #ccc;
}

nav ul ol li + li {
	display: block;
	margin-top: 18px;
}

nav li {
	display: inline-block;
	font-family: Ubuntu, sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding-top: 18px;
}

nav a {
	padding: 15px;
}

nav a:hover {
	color: #fff;
	background-color: #3a494c;
	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

@media (max-width: 979px) {
    .logo {
		font-size: 30px;
		line-height: 40px;
	}

	.logo_size {
		font-size: 40px;
	}

	nav li {
		padding-top: 11px;
	}

	nav ul ol {
		top: 50px;
		padding: 5px 3px 15px;
	}

	nav ul ol a {
		padding: 12px;
	}

	nav ul ol li + li {
		margin-top: 18px;
	}

}

@media (max-width: 768px) {
	header {
		text-align: center;
		padding: 27px 0 40px;
	}

	nav {
		float: none;
	}

	nav li {
		font-size: 15px;
		padding-top: 18px;
	}

	.logo {
		float: none;
	}

	nav a {
		padding: 10px;
	}

	nav ul ol {
		top: 48px;
		padding: 0 3px 15px;
	}

	nav ul ol li + li {
		margin-top: 10px;
	}
}

@media (max-width: 480px) {
	header {
		padding: 27px 0 15px;
	}

	nav ul li {
		display: block;
	}

	nav ul li + li {
		margin-top: 6px;
	}

	nav a {
		padding: 10px;
	}

	nav ul ol {
		display: none;
		list-style-type: none;
		background-color: #fff;
		padding: 0 3px 18px;
		position: inherit;
		border: medium none;
		background-color: #ccc;
		margin-top: 15px;
		border-radius: 4px;
		-o-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
}

}

/* ============================ END HEADER ============================ */



/* ============================ MAIN ============================ */

main {
	display: block;
  	background: #fff;
}

/* ============================  slider ============================== */

.slider {
	background: url(../images/image_01.jpg) repeat-x #fff;
	background-size: cover;
	padding-bottom: 40px;
}

.slider2 {
	background: url(../images/image_02.jpg) repeat-x #fff;
	background-size: cover;
	padding-bottom: 40px;
}


.slider3 {
	background: url(../images/image_03.jpg) repeat-x #fff;
	background-size: cover;
	padding-bottom: 40px;
}

.slider, .slider2, .slider3 {
	padding-bottom: 145px;
}

/* ============================  end slider ============================== */



/* ============================  services ============================== */

img + h3 {
	margin-top: 13px;
}

.services h3 + p {
	padding: 16px 3% 0;
}

/* ============================ end services ============================== */



/* ============================  Recent Templates  ============================== */

.portfolio {
	background: url(../images/parallax_1.jpg) repeat-x #fff;
	background-size: cover;
}

.portfolio .tabs + .button {
	margin-top: 50px;
}

@media (max-width: 479px) {
	.tabs {
		display: block;
	}
}

/* ===================== end Recent Templates =============================== */



/* ============================  Template Features  ============================== */

.templates h2 + p {
	padding-bottom: 50px;
}

.templates p > a {
	color: #036b7e;
	text-decoration: underline;
}

.templates p > a:hover {
	text-decoration: none;
}

.templates ul {
	list-style-type: none;
	padding-top: 10px;
	padding-left: 1px;
}

.templates li {
	padding-left: 13px;
}

.templates a {
	font-family: Ubuntu, sans-serif;
	font-size: 14px;
	color: #666;
	text-decoration: none;
	position: relative;
	line-height: 24px;
}

.templates a:hover, .templates a.active {
	color: #036b7e;
}

.templates li a:before {
	content: '\f0da';
	font-family: 'FontAwesome';
	color: #3a494c;
	left: -13px;
	top: 0;
	position: absolute;
}

.templates li a:hover:before, .templates li a.active:before {
	left: -9px;
}

@media (max-width: 767px) {
	.templates div p + div {
		text-align: center;
	}
}


/* ===================== end Template Features =============================== */



/* ============================  Template advantages  ============================== */

.advantages {
	background: url(../images/image_16.jpg) repeat-x #fff;
	background-size: cover;
}

.numbers {
	font-family: 'Bree Serif', sans-serif;
	font-size: 60px;
	color: #666;
	background-color: #fff;
	border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	height: 79px;
	width: 78px;
	display: block;
	padding: 11px 0 0 11px;
	margin: auto;
}

div.numbers + h3 {
	color: #fff;
	margin-top: 18px;
}

.advantages .row + .row {
	margin-top: 38px;
}

/* ============================ end Template advantages  ============================== */



/* ============================  Meet the team   ============================== */

.team img {
	display: inline-block;
	padding-bottom: 15px;
}

.team li {
	display: inline-block;
	padding: 7px 3px 2px;
}

.team i {
	color: #fff;
	background-color: #a5d2da;
	padding: 10px;
	border-radius: 50px;
	-o-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	font-size: 30px;
	width: 30px;
}

.team i.active {
	background-color: #036b7e;
}

i.f {
	padding: 11px 11px 9px 9px;
}

.team i:hover {
	background-color: #036b7e;
}

.team h3 + p {
	padding: 16px 3% 0;
}

.team p + ul {
	margin-top: 27px;
}


/* ============================ end Meet the team   ============================== */



/* ============================  Testimonials   ============================== */

.testimonials {
	background: url(../images/image_17.jpg) repeat-x #fff;
	background-size: cover;
}

cite {
	font-family: 'Bree Serif', sans-serif;
	font-size: 24px;
	color: #fff;
	line-height: 30px;
	padding: 0;
}

blockquote {
	color: #fff;
	line-height: 24px;
	padding: 1px 45px 17px 0;
}

blockquote div + div {
	margin-left: 200px;
}

blockquote em {
	margin-left: -5px;
	font-size: 16px;
	line-height: 32px;
}

blockquote p {
	position: relative;
	margin-left: 35px;
}

q > i:first-child {
	position: absolute;
	font-size: 30px;
	left: -35px;
	top: 7px;
}

q > i:last-child {
	position: absolute;
	font-size: 30px;
	right: 18px;
	bottom: -10px;
}

@media (max-width: 479px) {
	blockquote .flt_lft {
		float: none;
	}

	blockquote div + div {
		margin-left: 0;
	}

	blockquote p {
		margin-left: 20px;
	}

	q > i:first-child {
		font-size: 20px;
		left: -20px;
		top: 2px;
	}

	q > i:last-child {
		font-size: 20px;
		right: 0;
		bottom: -20px;
	}
}

/* ============================ end Testimonials   ============================== */



/* ============================  How it Works    ============================== */

.how iframe {
	max-width: 100%;
}

/* ============================ end How it Works    ============================== */



/* ============================  Template Properties     ============================== */

.properties {
	background: url(../images/image_18.jpg) repeat-x #fff;
	background-size: cover;
}

.properties img + h3 {
	margin-top: 22px;
}

/* ============================ end Template Properties     ============================== */



/* ============================  faq’s   ============================== */

.faqs section div {
	position: relative;
}

.faqs section div:last-child {
	margin-top: 40px;
}

.faqs button {
	color: #fff;
	background-color: #666;
	font-size: 17px;
	line-height: 30px;
	top: 9px;
	right: 0px;
	position: absolute;
	padding: 13px 13px 0;
	border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: none;
	cursor: pointer;
}

.faqs section p {
	display: none;
	margin-top: 16px;
}

@media (max-width: 1199px) {
	.faqs h3 {
		font-size: 16px;
		line-height: 22px;
	}
}

/* ============================ end faq’s   ============================== */



/* ============================  Latest from the blog    ============================== */

.blog {
	background: url(../images/image_19.jpg) repeat-x #fff;
	background-size: cover;
}

figure {
	background-color: #fff;
	position: relative;
	padding: 15px 15px 10px;
}

figure img {
	max-width: 100%;
}

figure div:first-child {
	position: absolute;
	color: #3a494c;
	font-family: 'Bree Serif', sans-serif;
	font-size: 24px;
	line-height: 26px;
	padding: 0 0 5px;
	background-color: #fff;
	text-transform: uppercase;
	top: 28px;
	left: 8%;
	width: 84%;
}

figcaption {
	padding: 27px 5px 30px 0;
}

figcaption a:hover {
	color: #036b7e;
}


/* ============================ end Latest from the blog    ============================== */



/* ============================  Our partners     ============================== */

.partners li {
	padding: 0 2.98%;
}

.partners li {
	display: inline-block;
}

.partners li a {
	opacity: 0.5;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.partners li a:hover {
	opacity: 1.0;
}

@media (max-width: 1199px) {
	.partners li {
		margin: 15px 10px;
	}
}

@media (max-width: 767px) {
	.partners li {
		margin: 15px 10px;
	}
}

@media (max-width: 979px) {
	.partners li {
		margin: 15px 10px;
	}
}

@media (max-width: 479px)  {
	.partners li {
		display: block;
	}

	.partners li + li {
		margin-top: 20px;
	}
}

/* ============================ end Our partners     ============================== */



/* ============================ END MAIN ============================== */


/* ============================ FOOTER ============================ */

footer address, footer dl  {
	color: #fff;
	line-height: 24px;
	margin-top: 8px;
}

footer dt, footer dd {
	display: inline;
	line-height: 10px;
}

input[name="name"], input[name="e-mail"], textarea {
	min-width: 100%;
	border: 0;
	font-family: Ubuntu, sans-serif;
	font-size: 14px;
	padding-left: 15px;
	padding: 5px 5px 5px 14px;
	box-sizing: border-box;
}

input[name="name"], input[name="e-mail"] {
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 30px;
	height: 40px;
}

input[name="name"] {
	margin-top: 40px;	
}

input[name="e-mail"], textarea {
	margin-top: 10px;
}

textarea {
	border-radius: 4px/8px;
	-o-border-radius: 4px/8px;
	-moz-border-radius: 4px/8px;
	-webkit-border-radius: 4px/8px;
	line-height: 24px;
	padding-top: 7px;
	padding-bottom: 5px;
	height: 180px;
}

input[type="submit"] {
	margin-top: 40px;
	cursor: pointer;
	padding: 5px 13px;	
}

.copyright {
	color: #fff;
	line-height: 24px;
	margin-top: 58px;
}

footer img {
	margin-top: 7px;
	display: block;
}

/* ============================ END FOOTER ============================ */